################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clockify Invoice Generator/.vs/Clockify Invoice Generator
.env
/Clockify Invoice Generator/output/2025/April
/Clockify Invoice Generator/__pycache__
/Clockify Invoice Generator/output/2025/May
/Clockify Invoice Generator/.venv
/ClockifyUtility/.vs
