################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clockify Invoice Generator/.vs/Clockify Invoice Generator
*.env
