################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Clockify Invoice Generator/.vs/Clockify Invoice Generator
.env
/Clockify Invoice Generator/output/2025/April
/Clockify Invoice Generator/__pycache__
/Clockify Invoice Generator/output/2025/May
/Clockify Invoice Generator/.venv
/ClockifyUtility/.vs
/ClockifyUtility/obj
/ClockifyUtility/bin
/.vscode
/ClockifyUtility/.vscode

# Python artifacts
/Clockify Invoice Generator/__pycache__/
/Clockify Invoice Generator/*.pyc
/Clockify Invoice Generator/.venv
/Clockify Invoice Generator/env
/Clockify Invoice Generator/.env

# C# artifacts
/ClockifyUtility/bin/
/ClockifyUtility/obj/
/ClockifyUtility/appsettings.json
/.vs/Clockify Invoice Generator/v17/.wsuo
/.vs/Clockify Invoice Generator/v17
/.vs
